<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cloud.ftl.ftltest.test.dao.IDailyAmountDao">
    <resultMap id="BaseResultMap" type="com.cloud.ftl.ftltest.test.entity.DailyAmount">
        <id column="da_id" jdbcType="BIGINT" property="daId" />
        <result column="entity_id" jdbcType="INTEGER" property="entityId" />
        <result column="date_time" jdbcType="TIMESTAMP" property="dateTime" />
        <result column="sett_profit" jdbcType="DECIMAL" property="settProfit" />
        <result column="expend_profit" jdbcType="DECIMAL" property="expendProfit" />
        <result column="income_profit" jdbcType="DECIMAL" property="incomeProfit" />
        <result column="profit_hours" jdbcType="TINYINT" property="profitHours" />
        <result column="deficit_hours" jdbcType="TINYINT" property="deficitHours" />
        <result column="minus_deviation" jdbcType="DECIMAL" property="minusDeviation" />
        <result column="positive_deviation" jdbcType="DECIMAL" property="positiveDeviation" />
        <result column="status" jdbcType="TINYINT" property="status" />
        <result column="ce" jdbcType="TINYINT" property="ce" />
        <result column="sa" jdbcType="TINYINT" property="sa" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="status_time" jdbcType="TIMESTAMP" property="statusTime" />
    </resultMap>

    <sql id="Base_Column_List">
        da_id,entity_id,date_time,sett_profit,expend_profit,income_profit,profit_hours,deficit_hours,minus_deviation,positive_deviation,status,ce,sa,create_time,status_time
    </sql>

    <sql id="Base_Object_List">
        #{at.daId},#{at.entityId},#{at.dateTime},#{at.settProfit},#{at.expendProfit},#{at.incomeProfit},#{at.profitHours},#{at.deficitHours},#{at.minusDeviation},#{at.positiveDeviation},#{at.status},#{at.ce},#{at.sa},#{at.createTime},#{at.statusTime}
    </sql>

    <sql id="Set_Not_Null_List">
        <set>
            <if test="qt.daId != null">
                da_id = #{qt.daId},
            </if>
            <if test="qt.entityId != null">
                entity_id = #{qt.entityId},
            </if>
            <if test="qt.dateTime != null">
                date_time = #{qt.dateTime},
            </if>
            <if test="qt.settProfit != null">
                sett_profit = #{qt.settProfit},
            </if>
            <if test="qt.expendProfit != null">
                expend_profit = #{qt.expendProfit},
            </if>
            <if test="qt.incomeProfit != null">
                income_profit = #{qt.incomeProfit},
            </if>
            <if test="qt.profitHours != null">
                profit_hours = #{qt.profitHours},
            </if>
            <if test="qt.deficitHours != null">
                deficit_hours = #{qt.deficitHours},
            </if>
            <if test="qt.minusDeviation != null">
                minus_deviation = #{qt.minusDeviation},
            </if>
            <if test="qt.positiveDeviation != null">
                positive_deviation = #{qt.positiveDeviation},
            </if>
            <if test="qt.status != null">
                status = #{qt.status},
            </if>
            <if test="qt.ce != null">
                ce = #{qt.ce},
            </if>
            <if test="qt.sa != null">
                sa = #{qt.sa},
            </if>
            <if test="qt.createTime != null">
                create_time = #{qt.createTime},
            </if>
            <if test="qt.statusTime != null">
                status_time = #{qt.statusTime}
            </if>
        </set>
    </sql>

    <sql id="Set_With_Null_List">
        <set>
            da_id = #{qt.daId},
            entity_id = #{qt.entityId},
            date_time = #{qt.dateTime},
            sett_profit = #{qt.settProfit},
            expend_profit = #{qt.expendProfit},
            income_profit = #{qt.incomeProfit},
            profit_hours = #{qt.profitHours},
            deficit_hours = #{qt.deficitHours},
            minus_deviation = #{qt.minusDeviation},
            positive_deviation = #{qt.positiveDeviation},
            status = #{qt.status},
            ce = #{qt.ce},
            sa = #{qt.sa},
            create_time = #{qt.createTime},
            status_time = #{qt.statusTime}
        </set>
    </sql>

    <sql id="where_sql">
        <if test="et.daId != null">
            AND da_id = #{et.daId}
        </if>
        <if test="et.entityId != null">
            AND entity_id = #{et.entityId}
        </if>
        <if test="et.dateTime != null">
            AND date_time = #{et.dateTime}
        </if>
        <if test="et.settProfit != null">
            AND sett_profit = #{et.settProfit}
        </if>
        <if test="et.expendProfit != null">
            AND expend_profit = #{et.expendProfit}
        </if>
        <if test="et.incomeProfit != null">
            AND income_profit = #{et.incomeProfit}
        </if>
        <if test="et.profitHours != null">
            AND profit_hours = #{et.profitHours}
        </if>
        <if test="et.deficitHours != null">
            AND deficit_hours = #{et.deficitHours}
        </if>
        <if test="et.minusDeviation != null">
            AND minus_deviation = #{et.minusDeviation}
        </if>
        <if test="et.positiveDeviation != null">
            AND positive_deviation = #{et.positiveDeviation}
        </if>
        <if test="et.status != null">
            AND status = #{et.status}
        </if>
        <if test="et.ce != null">
            AND ce = #{et.ce}
        </if>
        <if test="et.sa != null">
            AND sa = #{et.sa}
        </if>
        <if test="et.createTime != null">
            AND create_time = #{et.createTime}
        </if>
        <if test="et.statusTime != null">
            AND status_time = #{et.statusTime}
        </if>
        <if test="et.criterias != null">
            <foreach collection="et.criterias" item="criteria" separator=" ">
                <if test="criteria.valid">
                    ${criteria.opt}
                    <choose>
                        <when test="criteria.criterions.size() > 1">
                            <trim prefix="(" prefixOverrides="and|or" suffix=")">
                                <foreach collection="criteria.criterions" item="criterion">
                                    <choose>
                                        <when test="criterion.noValue">
                                            ${criterion.condition}
                                        </when>
                                        <when test="criterion.oneValue">
                                            ${criterion.condition} #{criterion.value1}
                                        </when>
                                        <when test="criterion.secondValue">
                                            ${criterion.condition} #{criterion.value1} and #{criterion.value2}
                                        </when>
                                        <when test="criterion.listValue">
                                            ${criterion.condition}
                                            <foreach collection="criterion.list" item="listItem" open="(" close=")" separator=",">
                                                #{listItem}
                                            </foreach>
                                        </when>
                                    </choose>
                                </foreach>
                            </trim>
                        </when>
                        <otherwise>
                            <trim prefixOverrides="and|or">
                                <foreach collection="criteria.criterions" item="criterion">
                                    <choose>
                                        <when test="criterion.noValue">
                                            ${criterion.condition}
                                        </when>
                                        <when test="criterion.oneValue">
                                            ${criterion.condition} #{criterion.value1}
                                        </when>
                                        <when test="criterion.secondValue">
                                            ${criterion.condition} #{criterion.value1} and #{criterion.value2}
                                        </when>
                                        <when test="criterion.listValue">
                                            ${criterion.condition}
                                            <foreach collection="criterion.list" item="listItem" open="(" close=")" separator=",">
                                                #{listItem}
                                            </foreach>
                                        </when>
                                    </choose>
                                </foreach>
                            </trim>
                        </otherwise>
                    </choose>
                </if>
            </foreach>
        </if>
    </sql>

    <!--获取最大的主键-->
    <select id="selectMaxId" resultType="java.lang.Long">
        select IFNULL(max(da_id), 0) from `daily_amount`
    </select>

    <!--根据主键获取对象-->
    <select id="selectById" resultMap="BaseResultMap">
        select <include refid="Base_Column_List" /> from daily_amount
        <where>
            AND da_id = #{daId}
        </where>
    </select>

    <!--查询列表-->
    <select id="selectList" resultMap="BaseResultMap">
        select <include refid="Base_Column_List" /> from daily_amount
        <where>
            <include refid="where_sql" />
        </where>
        <if test="et.orderByClause!=null and et.orderByClause!=''">
            order by ${et.orderByClause}
        </if>
        <if test="et.page != null and et.pageSize != null and et.page > 0" >
            limit #{et.index},#{et.pageSize}
        </if>
    </select>

    <!--查询列表总数-->
    <select id="selectCount" resultType="java.lang.Long">
        select count(1) from daily_amount
        <where>
            <include refid="where_sql" />
        </where>
    </select>

    <!--插入对象-->
    <insert id="addDailyAmount">
        insert into daily_amount(<include refid="Base_Column_List" />)
        values(<include refid="Base_Object_List" />)
    </insert>

    <!--批量插入对象-->
    <insert id="batchAddDailyAmount">
        insert into daily_amount(<include refid="Base_Column_List" />)
        values
        <foreach collection="list" index="index" item="at" separator=",">
            (<include refid="Base_Object_List" />)
        </foreach>
    </insert>

    <!--更新对象-->
    <update id="updateNotNull">
        update daily_amount
        <include refid="Set_Not_Null_List" />
        <where>
            AND da_id = #{qt.daId}
        </where>
    </update>

    <!--批量更新对象-->
    <update id="updateBatchNotNull">
        <foreach collection="list" separator=";" item="qt">
            update daily_amount
            <include refid="Set_Not_Null_List" />
            <where>
                AND da_id = #{qt.daId}
            </where>
        </foreach>
    </update>

    <!--更新对象(全更新)-->
    <update id="updateWithNull">
        update daily_amount
        <include refid="Set_With_Null_List" />
        <where>
            AND da_id = #{qt.daId}
        </where>
    </update>

    <!--批量更新对象(全更新)-->
    <update id="updateBatchWithNull">
        <foreach collection="list" separator=";" item="qt">
            update daily_amount
            <include refid="Set_With_Null_List" />
            <where>
                AND da_id = #{qt.daId}
            </where>
        </foreach>
    </update>

    <!--根据主键删除对象-->
    <delete id="deleteDailyAmount">
        delete from daily_amount
        <where>
            AND da_id = #{daId}
        </where>
    </delete>

    <!-- 批量删除对象 -->
    <delete id="batchDeleteDailyAmount">
        delete from daily_amount
        <where>
            da_id in
            <foreach collection="list" open="(" close=")" separator="," item="item">
                #{item}
            </foreach>
        </where>
    </delete>

    <!--根据ID列表获取记录列表-->
    <select id="selectBatchIds" resultMap="BaseResultMap">
        select <include refid="Base_Column_List" /> from daily_amount
        <where>
            da_id in
            <foreach collection="list" open="(" close=")" separator="," item="item">
                #{item}
            </foreach>
        </where>
    </select>

    <!--~~~~~~~~~~~~~~~~~~~~~~ custom code begin ~~~~~~~~~~~~~~~~~~~~~~-->
    
    <!--~~~~~~~~~~~~~~~~~~~~~~ custom code end ~~~~~~~~~~~~~~~~~~~~~~-->

</mapper>