<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cloud.ftl.ftltest.test.dao.ILoadTimeDao">
    <resultMap id="BaseResultMap" type="com.cloud.ftl.ftltest.test.entity.LoadTime">
        <id column="lt_id" jdbcType="BIGINT" property="ltId" />
        <result column="entity_id" jdbcType="INTEGER" property="entityId" />
        <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
        <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
        <result column="status" jdbcType="TINYINT" property="status" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="status_time" jdbcType="TIMESTAMP" property="statusTime" />
    </resultMap>

    <sql id="Base_Column_List">
        lt_id,entity_id,start_time,end_time,status,create_time,status_time
    </sql>

    <sql id="Base_Object_List">
        #{at.ltId},#{at.entityId},#{at.startTime},#{at.endTime},#{at.status},#{at.createTime},#{at.statusTime}
    </sql>

    <sql id="Set_Not_Null_List">
        <set>
            <if test="ut.ltId != null">
                lt_id = #{ut.ltId},
            </if>
            <if test="ut.entityId != null">
                entity_id = #{ut.entityId},
            </if>
            <if test="ut.startTime != null">
                start_time = #{ut.startTime},
            </if>
            <if test="ut.endTime != null">
                end_time = #{ut.endTime},
            </if>
            <if test="ut.status != null">
                status = #{ut.status},
            </if>
            <if test="ut.createTime != null">
                create_time = #{ut.createTime},
            </if>
            <if test="ut.statusTime != null">
                status_time = #{ut.statusTime}
            </if>
        </set>
    </sql>

    <sql id="Set_With_Null_List">
        <set>
            lt_id = #{ut.ltId},
            entity_id = #{ut.entityId},
            start_time = #{ut.startTime},
            end_time = #{ut.endTime},
            status = #{ut.status},
            create_time = #{ut.createTime},
            status_time = #{ut.statusTime}
        </set>
    </sql>

    <sql id="where_sql">
        <if test="st.ltId != null">
            AND lt_id = #{st.ltId}
        </if>
        <if test="st.entityId != null">
            AND entity_id = #{st.entityId}
        </if>
        <if test="st.startTime != null">
            AND start_time = #{st.startTime}
        </if>
        <if test="st.endTime != null">
            AND end_time = #{st.endTime}
        </if>
        <if test="st.status != null">
            AND status = #{st.status}
        </if>
        <if test="st.createTime != null">
            AND create_time = #{st.createTime}
        </if>
        <if test="st.statusTime != null">
            AND status_time = #{st.statusTime}
        </if>
        <if test="st.criterias != null">
            <foreach collection="st.criterias" item="criteria" separator=" ">
                <if test="criteria.valid">
                    ${criteria.opt}
                    <choose>
                        <when test="criteria.criterions.size() > 1">
                            <trim prefix="(" prefixOverrides="and|or" suffix=")">
                                <foreach collection="criteria.criterions" item="criterion">
                                    <choose>
                                        <when test="criterion.noValue">
                                            ${criterion.condition}
                                        </when>
                                        <when test="criterion.oneValue">
                                            ${criterion.condition} #{criterion.value1}
                                        </when>
                                        <when test="criterion.secondValue">
                                            ${criterion.condition} #{criterion.value1} and #{criterion.value2}
                                        </when>
                                        <when test="criterion.listValue">
                                            ${criterion.condition}
                                            <foreach collection="criterion.list" item="listItem" open="(" close=")" separator=",">
                                                #{listItem}
                                            </foreach>
                                        </when>
                                    </choose>
                                </foreach>
                            </trim>
                        </when>
                        <otherwise>
                            <trim prefixOverrides="and|or">
                                <foreach collection="criteria.criterions" item="criterion">
                                    <choose>
                                        <when test="criterion.noValue">
                                            ${criterion.condition}
                                        </when>
                                        <when test="criterion.oneValue">
                                            ${criterion.condition} #{criterion.value1}
                                        </when>
                                        <when test="criterion.secondValue">
                                            ${criterion.condition} #{criterion.value1} and #{criterion.value2}
                                        </when>
                                        <when test="criterion.listValue">
                                            ${criterion.condition}
                                            <foreach collection="criterion.list" item="listItem" open="(" close=")" separator=",">
                                                #{listItem}
                                            </foreach>
                                        </when>
                                    </choose>
                                </foreach>
                            </trim>
                        </otherwise>
                    </choose>
                </if>
            </foreach>
        </if>
    </sql>

    <!--获取最大的主键-->
    <select id="selectMaxId" resultType="java.lang.Long">
        select IFNULL(max(lt_id), 0) from `load_time`
    </select>

    <!--根据主键获取对象-->
    <select id="selectById" resultMap="BaseResultMap">
        select <include refid="Base_Column_List" /> from load_time
        <where>
            AND lt_id = #{ltId}
        </where>
    </select>

    <!--查询列表-->
    <select id="selectList" resultMap="BaseResultMap">
        select <include refid="Base_Column_List" /> from load_time
        <where>
            <include refid="where_sql" />
        </where>
        <if test="st.orderByClause!=null and st.orderByClause!=''">
            order by ${st.orderByClause}
        </if>
        <if test="st.page != null and st.pageSize != null and st.page > 0" >
            limit #{st.index},#{st.pageSize}
        </if>
    </select>

    <!--查询列表总数-->
    <select id="selectCount" resultType="java.lang.Long">
        select count(1) from load_time
        <where>
            <include refid="where_sql" />
        </where>
    </select>

    <!--根据ID列表获取记录列表-->
    <select id="selectBatchIds" resultMap="BaseResultMap">
        select <include refid="Base_Column_List" /> from load_time
        <where>
        lt_id in
            <foreach collection="list" open="(" close=")" separator="," item="item">
            #{item}
            </foreach>
        </where>
    </select>

    <!--插入对象-->
    <insert id="add">
        insert into load_time(<include refid="Base_Column_List" />)
        values(<include refid="Base_Object_List" />)
    </insert>

    <!--批量插入对象-->
    <insert id="addBatch">
        insert into load_time(<include refid="Base_Column_List" />)
        values
        <foreach collection="list" index="index" item="at" separator=",">
            (<include refid="Base_Object_List" />)
        </foreach>
    </insert>

    <!--更新对象-->
    <update id="updateNotNull">
        update load_time
        <include refid="Set_Not_Null_List" />
        <where>
            AND lt_id = #{ut.ltId}
        </where>
    </update>

    <!--批量更新对象-->
    <update id="updateBatchNotNull">
        <foreach collection="list" separator=";" item="ut">
            update load_time
            <include refid="Set_Not_Null_List" />
            <where>
                AND lt_id = #{ut.ltId}
            </where>
        </foreach>
    </update>

    <!--更新对象(全更新)-->
    <update id="updateWithNull">
        update load_time
        <include refid="Set_With_Null_List" />
        <where>
            AND lt_id = #{ut.ltId}
        </where>
    </update>

    <!--批量更新对象(全更新)-->
    <update id="updateBatchWithNull">
        <foreach collection="list" separator=";" item="ut">
            update load_time
            <include refid="Set_With_Null_List" />
            <where>
                AND lt_id = #{ut.ltId}
            </where>
        </foreach>
    </update>

    <!--更新对象,根据查询条件更新-->
    <update id="updateByMap">
        update load_time
        <set>
            <foreach collection="um" index="key" item="value" separator=",">
                ${key} = #{value}
            </foreach>
        </set>
        <where>
            <include refid="where_sql" />
        </where>
    </update>

    <!--根据查询条件删除记录-->
    <delete id="delete">
        delete from load_time
        <where>
            <include refid="where_sql" />
        </where>
    </delete>

    <!--根据主键删除对象-->
    <delete id="deleteById">
        delete from load_time
        <where>
            AND lt_id = #{ltId}
        </where>
    </delete>

    <!-- 批量删除对象 -->
    <delete id="deleteBatchIds">
        delete from load_time
        <where>
            lt_id in
            <foreach collection="list" open="(" close=")" separator="," item="item">
                #{item}
            </foreach>
        </where>
    </delete>


    <!--~~~~~~~~~~~~~~~~~~~~~~ custom code begin ~~~~~~~~~~~~~~~~~~~~~~-->
    
    <!--~~~~~~~~~~~~~~~~~~~~~~ custom code end ~~~~~~~~~~~~~~~~~~~~~~-->

</mapper>