<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cloud.ftl.ftltest.test.dao.ILoadTimeDao">
    <resultMap id="BaseResultMap" type="com.cloud.ftl.ftltest.test.entity.LoadTime">
        <id column="lt_id" jdbcType="BIGINT" property="ltId" />
        <result column="entity_id" jdbcType="INTEGER" property="entityId" />
        <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
        <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
        <result column="status" jdbcType="TINYINT" property="status" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="status_time" jdbcType="TIMESTAMP" property="statusTime" />
    </resultMap>

    <sql id="Base_Column_List">
        lt_id,entity_id,start_time,end_time,status,create_time,status_time
    </sql>

    <sql id="where_sql">
        <foreach collection="criterias" item="criteria" separator=" ">
            <if test="criteria.valid">
                ${criteria.opt}
                <trim prefix="(" prefixOverrides="and|or" suffix=")">
                    <foreach collection="criteria.criterions" item="criterion">
                        <choose>
                            <when test="criterion.noValue">
                                ${criterion.condition}
                            </when>
                            <when test="criterion.oneValue">
                                ${criterion.condition} #{criterion.value1}
                            </when>
                            <when test="criterion.secondValue">
                                ${criterion.condition} #{criterion.value1} and #{criterion.value2}
                            </when>
                            <when test="criterion.listValue">
                                ${criterion.condition}
                                <foreach collection="criterion.list" item="listItem" open="(" close=")" separator=",">
                                    #{listItem}
                                </foreach>
                            </when>
                        </choose>
                    </foreach>
                </trim>
            </if>
        </foreach>
    </sql>

    <!--获取最大的主键-->
    <select id="selectMaxLoadTimeId" resultType="java.lang.Long">
        select IFNULL(max(lt_id), 0) from `load_time`
    </select>

    <!--根据主键获取对象-->
    <select id="loadLoadTimeByKey" resultMap="BaseResultMap">
        select <include refid="Base_Column_List" /> from load_time
        <where>
            AND lt_id = #{ltId}
        </where>
    </select>

    <!--查询列表-->
    <select id="findLoadTimeList" resultMap="BaseResultMap">
        select <include refid="Base_Column_List" /> from load_time
        <where>
            <include refid="where_sql" />
        </where>
    </select>

</mapper>